@model Location

@{
    ViewData["Title"] = "Add Location";
}

<style>
    .parent {
        display: table;
        width: 100%;
    }

    .form_login {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    input[type=text], input[type=password], select {
        width: 20%;
        height: 40px;
        padding: 12px 20px;
        margin: 4px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    label, #locations {
        font-size: large;
    }

    #heading {
        font-size: x-large;
        font-weight: bold;
    }

    .locations {
        font-size: medium;
    }
</style>


<div class="parent">
    <form class="form_login" asp-action="AddJobLocation" method="post">
        <div>
            <label>New Location Title: </label>
        </div>
        <br />
        <input type="text" asp-for="Title" />

        <br />
        <br />

        <div>
            <label>Description: </label>
        </div>
        <br />
        <input type="text" asp-for="Description" />

        <br />
        <br />
        <br />
        <div>
            <input type="submit" value="Add Location" class="btn btn-success btn-lg" />
        </div>
    </form>
</div>
<br />

<div id="locations" style="text-align:center;">
    <h3 id="heading">Current Locations</h3>
    <br />
    
    
        @foreach (Location location in ViewBag.Locations)
        {

            <p class="locations">@location.Title - @location.Description</p>

        }
   
</div>