@model UserJob

@{
    ViewData["Title"] = "AuthorizeUser";
}

<h2>AuthorizeUser</h2>

<form asp-action="AuthorizeUser" method="post">
    <div>
        <label>Select User To Authorize: </label>
        <select asp-for="UserId">
            @foreach (User user in ViewBag.Users)
            {
                <option value="@user.UserId">@user.Name</option>
            }
        </select>
    </div>
    <div>
        <label>Select Job: </label>
        <select asp-for="JobId">
            @foreach (Job job in ViewBag.Jobs)
            {
                <option value="@job.JobId">@job.Title</option>
            }
        </select>
    </div>
    <div>
        <input type="submit" value="Assign User" />
    </div>
</form>
