@model UserJob

@{
    ViewData["Title"] = "Authorize User";
}


<form style="display:table" asp-action="AuthorizeUser" method="post">
    <div style="display:table-row" class="form-group">
        <label style="display:table-cell">Select User To Authorize: </label>
        <select class="btn btn-default" style="display:table-cell; width:100%;" asp-for="UserId">
            @foreach (User user in ViewBag.Users)
            {
                <option value="@user.UserId">@user.Name</option>
            }
        </select>
    </div>
    <br />
    <div style="display:table-row" class="form-group">
        <label style="display:table-cell">Select Job: </label>
        <select class="btn btn-default" style="display:table-cell" asp-for="JobId">
            @foreach (Job job in ViewBag.Jobs)
            {
                <option value="@job.JobId">@job.Title</option>
            }
        </select>
    </div>
    <br />
    <input type="submit" value="Assign User" class="btn btn-default" />
</form>
