@using WebApplication.Web.Models.Account;
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Change Password</h2>

<form asp-controller="account" asp-action="changepassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword"></label>
        <input type="password" asp-for="CurrentPassword" />
        <span asp-validation-for="CurrentPassword"></span>
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input type="password" asp-for="NewPassword" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword"></label>
        <input type="password" asp-for="ConfirmNewPassword" />
        <span asp-validation-for="ConfirmNewPassword"></span>
    </div>

    <input type="submit" value="Change Password" class="btn btn-default" />

</form>