@using WebApplication.Web.Models.Account;
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
}

<h2>Change Password</h2>

<form asp-controller="account" asp-action="changepassword" method="post">
    <div class="form-group">
        <label asp-for="Password">Enter new password</label>
        <input type="password" asp-for="Password" placeholder="new password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword">Confirm new password</label>
        <input type="password" asp-for="ConfirmPassword" placeholder="confirm password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>

    <input type="submit" value="Reset Password" class="btn btn-default" />

</form>