@using WebApplication.Web.Models.Account;
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}


<form style="display:table" asp-controller="account" asp-action="changepassword" method="post">
    <div style="display:table-row" class="form-group">
        <label style="display:table-cell" asp-for="CurrentPassword"></label>
        <input class="btn btn-default" style="display:table-cell" type="password" asp-for="CurrentPassword" />
        <span asp-validation-for="CurrentPassword"></span>
    </div>
    <br />
    <div style="display:table-row" class="form-group">
        <label style="display:table-cell">New Password</label>
        <input class="btn btn-default" style="display:table-cell" type="password" asp-for="NewPassword" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <br />
    <div style="display:table-row" class="form-group">
        <label style="display:table-cell" asp-for="ConfirmNewPassword"></label>
        <input class="btn btn-default" style="display:table-cell" type="password" asp-for="ConfirmNewPassword" />
        <span asp-validation-for="ConfirmNewPassword"></span>
    </div>
    <br />
    <input type="submit" value="Change Password" class="btn btn-default" />

</form>