@using WebApplication.Web.Models.Account;
@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<style>
    .parent {
        display: table;
        width: 100%;
    }

    .form_login {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    input[type=text], input[type=password], select {
        width: 20%;
        height: 40px;
        padding: 12px 20px;
        margin: 4px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    label {
        font-size: large;
    }
</style>

<div class="parent">
    <form class="form_login" asp-controller="account" asp-action="changepassword" method="post">
        <div>
            <label asp-for="CurrentPassword"></label>
        </div>
        <input class="btn btn-default" style="display:table-cell" type="password" asp-for="CurrentPassword" />
        <span asp-validation-for="CurrentPassword"></span>
        <br />
        <div>
            <label asp-for="NewPassword">New Password</label>
        </div>
        <input type="password" asp-for="NewPassword" />
        <span asp-validation-for="NewPassword"></span>
        <div>
            <label asp-for="ConfirmNewPassword"></label>
        </div>
        <input type="password" asp-for="ConfirmNewPassword" />
        <span asp-validation-for="ConfirmNewPassword"></span>

        <br />
        <br />
        <input type="submit" value="Change Password" class="btn btn-success btn-lg" />

    </form>
</div>