@model PayrollTable

@{
    ViewData["Title"] = "Create Pay Period";
}


<form style="display:table" asp-controller="account" asp-action="CreatePayPeriod" method="post">
    <div style="display:table-row" class="form-group">
        <label asp-for="StartDate"></label>
        <input class="btn btn-default" type="date" asp-for="StartDate" />
        <span asp-validation-for="StartDate"></span>
    </div>
    <br />
    <div style="display:table-row" class="form-group">
        <label asp-for="EndDate"></label>
        <input class="btn btn-default" type="date" asp-for="EndDate" />
        <span asp-validation-for="EndDate"></span>
    </div>
    <br />
    <input type="submit" value="Create New Pay Period" class="btn btn-default" />

</form>