@model Tasks

@{
    ViewData["Title"] = "CreateProjectTasks";
    
}

<h2>Create Project Tasks</h2>

<form asp-action="CreateProjectTasks" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <label>Select Job: </label>
        <select asp-for="JobId">
            @foreach (Job job in ViewBag.Jobs)
            {
                <option value="@job.JobId">@job.Title</option>
            }
        </select>
    </div>
    <div>
        <label>Input Task Title: </label>
        <input type="text" asp-for="Title" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <input type="submit" value="Create Task" />
    </div>
</form>

