@model User
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Welcome @Model.Username</p>

<input type="button" value="Change Password" class="btn btn-default" asp-controller="account" asp-action="ChangePassword" />