@model User
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>Welcome @Model.Username</p>

<a type="button" class="btn btn-default" asp-controller="account" asp-action="ChangePassword">Change Password</a>