@using WebApplication.Web.Models.Account;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}


<form style="display:table" asp-controller="account" asp-action="login" method="post">

    <div style="display:table-row" class="form-group">
        <label style="display:table-cell" asp-for="UserName"></label>
        <input class="btn btn-default" style="display:table-cell" asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <br />
    <div style="display:table-row" class="form-group">
        <label style="display:table-cell" asp-for="Password"></label>
        <input class="btn btn-default" style="display:table-cell" type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br />
    <input type="submit" value="Login" class="btn btn-default" />
</form>
<br />
@*---------------------FOR DEMO ONLY------------------------------*@
<form asp-controller="account" asp-action="DEMORESET" method="post">
    <input type="submit" value="Reset Demo" class="btn btn-default" />
</form>
@*---------------------FOR DEMO ONLY------------------------------*@