@model Hours

@{
    ViewData["Title"] = "LogTime";
}

<h2>LogTime</h2>

<form asp-controller="account" asp-action="LogTime" method="post">
    <div class="form-group">
        <label asp-for="DateWorked"></label>
        <input type="date" asp-for="DateWorked" />
        <span asp-validation-for="DateWorked"></span>
    </div>
    <div class="form-group">
            <label asp-for="TaskId"></label>
            <select asp-for="TaskId">
                @foreach (Tasks tasks in ViewBag.AvailableTasks)
                {
                    <option value="@tasks.TaskId">@tasks.Title</option>
                }
            </select>
            <span asp-validation-for="TaskId"></span>
        </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <input type="text" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
            <label asp-for="Location"></label>
            <select asp-for="Location">
                @foreach (Location location in ViewBag.Locations)
                {
                    <option>@location.Title</option>
                }
            </select>
            <span asp-validation-for="Location"></span>
        </div>
    <div class="form-group">
        <label asp-for="TimeInHours"></label>
        <input type="text" asp-for="TimeInHours" />
        <span asp-validation-for="TimeInHours"></span>
    </div>

    <input type="submit" value="Submit Time" class="btn btn-default" />

</form>