@using WebApplication.Web.Models.Account;
@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h2>Add User</h2>

<form style="display:table" asp-controller="account" asp-action="register" method="post">
    <div style="display:table-row" class="form-group">
        <label style="display:table-cell" asp-for="FullName"></label>
        <input style="display:table-cell" asp-for="FullName" />
        <span asp-validation-for="FullName"></span>
    </div>
    <br />
    <div style="display:table-row" class="form-group">
        <label style="display:table-cell" asp-for="UserName"></label>
        <input style="display:table-cell" asp-for="UserName" />
        <span asp-validation-for="UserName"></span>
    </div>
    <br />
    <div style="display:table-row" class="form-group">
        <label style="display:table-cell" asp-for="Password"></label>
        <input style="display:table-cell" type="password" asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br />
    <div style="display:table-row" class="form-group">
        <label style="display:table-cell" asp-for="ConfirmPassword"></label>
        <input style="display:table-cell" type="password" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <br />
    <div style="display:table-row" class="form-group">
        <label style="display:table-cell" asp-for="Role"></label>
        <select style="display:table-cell" asp-for="Role">
            <option value="User FT">Fulltime Employee</option>
            <option value="User PT">Parttime Employee</option>
            <option value="Admin">Admin</option>
        </select>
        <span asp-validation-for="Role"></span>
    </div>
    <br />
    <input type="submit" value="Create New User" class="btn btn-default" />

</form>